
.obsidian/workspace.json


.obsidian/appearance.json


.obsidian/cache/
.obsidian/plugins/*/data.json
.obsidian/plugins/*/cache.json


.obsidian/plugins/*/history.json
.obsidian/plugins/*/workspace
.obsidian/plugins/*/workspace.json


.DS_Store
Thumbs.db


*.log


.backup/
