
SapIsu/.obsidian/workspace.json
SapIsu/.obsidian/appearance.json


SapIsu/.obsidian/cache/
SapIsu/.obsidian/plugins/*/data.json
SapIsu/.obsidian/plugins/*/cache.json
SapIsu/.obsidian/plugins/*/history.json
SapIsu/.obsidian/plugins/*/workspace
SapIsu/.obsidian/plugins/*/workspace.json


.DS_Store
Thumbs.db

# logs
*.log


.backup/
